:root {
  --primary: rgb(220, 154, 31);
  --secondary: #8c3aff;
  --dark: #131a26;
  --light: #eee;
  --arsh: hsl(0, 1%, 56%);
  --light-arsh: #cecaca;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

body {
  background-color: var(--light);
}

.App {
  display: flex;
  /* min-height: -90vh; */
  align-items: center;
  justify-content: center;
  margin-top: 4%;
}

.calculator {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 2px 64px hsla(0, 0%, 0%, 0.2);
}

.display {
  padding: 1rem;
  text-align: right;
  background-color: var(--arsh);
  color: var(--light);
  font-size: 2rem;
  font-weight: 300;
}

.display span {
  font-size: 1rem;
  color: #cec7c7;
}

button {
  appearance: none;
  border: none;
  outline: none;
  color: black;
  font-size: 1rem;
  padding: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  opacity: 0.4;
}

.ops-dig-container {
  display: flex;
  flex-direction: row-reverse;
}

.operators {
  display: flex;
  flex-direction: column;
  width: 7rem;
}

.operators button {
  flex: 1 1 0%;
  background-color: var(--primary);
  font-weight: 700;
  border: 0.2px solid var(--arsh);
  border-style: none none solid solid;
  border-width: 1px;
}

.digits {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.digits button {
  flex: 1 1 33.333%;
  max-width: 50.333%;
  background-color: var(--light-arsh);
  color: var(--dark);
  border: 1px solid rgb(189, 184, 184);
  border-style: none none solid solid;
  border-width: 1px;
}

.qoutes {
  max-width: 50%;
}

/* Home page */
.home-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 2% 5%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 3% 5%;
}

header h1 {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5rem;
}

.home-page h1 {
  display: flex;
  justify-content: flex-start;
  line-height: 1.5rem;
  color: #000;
  width: 80%;
}

.home-page p {
  line-height: 2rem;
  text-align: left;
  width: 80%;
  font-size: 20px;
  color: #000;
}

nav ul {
  display: flex;
  gap: 20px;
  padding: 10px 10px;
}

nav li {
  list-style: none;
}

nav a {
  font-size: 20px;
  font-weight: 500;
  line-height: 1rem;
  color: #000;
  text-decoration: none;
}

/* Quotes */
.qoutes {
  position: absolute;
  width: 50rem;
  left: 25%;
  top: 30%;
  font-size: 2rem;
  text-align: center;
  margin-top: 1rem;
  padding: 0 1rem;
}

/* loading */
.status {
  position: absolute;
  left: 50%;
  top: 40%;
  width: 50%;
  font-size: 20px;
}

.calcBody {
  display: flex;
  gap: 20rem;
}

.pCalc {
  margin-left: 5rem;
  margin-top: 4rem;
}

.pCalc p {
  font-size: 250%;
  font-weight: bold;
}

ul li {
  text-decoration: underline;
}
