:root {
  --primary: rgb(220, 154, 31);
  --secondary: #8c3aff;
  --dark: #131a26;
  --light: #eee;
  --arsh: hsl(0, 1%, 56%);
  --light-arsh: #cecaca;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

body {
  background-color: var(--light);
}

.App {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.calculator {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 2px 64px hsla(0, 0%, 0%, 0.2);
}

.display {
  padding: 1rem;
  text-align: right;
  background-color: var(--arsh);
  color: var(--light);
  font-size: 2rem;
  font-weight: 300;
}

.display span {
  font-size: 1rem;
  color: #888;
}

button {
  appearance: none;
  border: none;
  outline: none;
  color: black;
  font-size: 1rem;
  padding: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  opacity: 0.4;
}

.ops-dig-container {
  display: flex;
  flex-direction: row-reverse;
}

.operators {
  display: flex;
  flex-direction: column;
  width: 7rem;
}

.operators button {
  flex: 1 1 0%;
  background-color: var(--primary);
  font-weight: 700;
  border: 0.2px solid var(--arsh);
  border-style: none none solid solid;
  border-width: 1px;
}

.digits {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.digits button {
  flex: 1 1 33.333%;
  max-width: 50.333%;
  background-color: var(--light-arsh);
  color: var(--dark);
  border: 1px solid rgb(189, 184, 184);
  border-style: none none solid solid;
  border-width: 1px;
}
